.grid-container {
    display: grid;
    border: 1px solid black;
    width: 360px;
    height: 360px;
}

.top {
    display: grid;
    place-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 1em;
}